.main {
  height: calc(100dvh - 80px);
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  color: white;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  height: 400px;
  max-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.weatherText {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  color: white;
  width: 100%;
}

.weatherBottom {
  background: white;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  padding: 5px;
  font-size: 14px;
}

.cropContainer {
  border-radius: 5px;
  width: 100vw;
}

.heading {
  padding: 10px;
  margin: 20px 20px 10px 20px;
}

.gridSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.gridImage {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.gridText {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  color: ##363a44;
}
