.main {
  margin: 1vh 0 0 1vh;
  position: relative;
}

.chatList {
  height: calc(73dvh - 1em);
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.chatList::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

.chatList::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.chatList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.chatList::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.chatList::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

.title {
  margin-left: 2vh;
  font-family: 'NotoSans-Bold';
  font-size: 4.265vh;
  font-weight: 700;
}

.noHistory {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noHistory div {
  margin-top: 4vh;
  margin-left: 2vh;
  font-family: 'NotoSans-Bold';
  font-size: 4vh;
  text-align: center;
  color: var(--grey);
}

.noHistory p {
  margin-top: 4vh;
  margin-left: 2vh;
  font-family: 'NotoSans-Bold';
  font-size: 1.65vh;
  text-align: center;
  color: var(--secondarygreen);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: relative;
  margin-bottom: 1em;
}

.pagination button {
  margin: 0 10px;
  font-size: 1.5em;
  padding: 10px 20px;
}

@media (min-height: 785px) {
  .pagination {
    flex-direction: column;
    position: static;
  }
}

@media (max-height: 785px) {
  .chatList {
    height: calc(73dvh - 3em);
    overflow-x: hidden;
    overflow-y: scroll !important;
  }
}
